<rnm-navbar></rnm-navbar>

<div class="container">
    <div class="row">
        <rnm-slider></rnm-slider>
    </div>

    <div class="row mt-4">
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-3 mt-4">
            <div class="row">
                <div class="col-md-12">
                    <!--newslatter subscription-->
                    <div class="modal-dialog modal-newsletter">
                        <div class="modal-content">
                            <form action="/examples/actions/confirmation.php" method="post">
                                <div class="modal-header">
                                    <h4>Join Our Newsletter</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
                                </div>
                                <div class="modal-body text-center">
                                    <p>Subscribe our newsletter to receive the latest news and exclusive offers every week. No spam.</p>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter your email" required>
                                        <input type="submit" class="btn btn-primary btn-block" value="Subscribe">
                                    </div>
                                    <div class="footer-link"><a href="#">No Thanks</a></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--recent articles-->
                <rnm-popular-posts></rnm-popular-posts>

                <!--popular tags with article count-->
                <div class="col-md-12 mt-4 card">
                    <h3>Tags</h3>
                    <p>some tag (30)</p>
                    <p>some tag (30)</p>
                    <p>some tag (30)</p>
                    <p>some tag (30)</p>
                    <p>some tag (30)</p>
                    <p>some tag (30)</p>
                    <p>some tag (30)</p>
                    <p>some tag (30)</p>
                </div>
            </div>
        </div>
    </div>
</div>