<h2>{{ post.info.postTitle }}</h2>

<img src="{{ imageUrl }}{{ post.info.postImage }}" class="img-fluid" alt="post image">

<h4>Genre: <a routerLink="/genres/{{ postUrl.genreSlug }}">{{ post.info.genreName | titleCase }}</a></h4>
<h5>Band: <a routerLink="/{{ postUrl.genreSlug }}/{{ postUrl.bandSlug }}">{{ post.info.bandName }}</a></h5>

<div *ngIf="post.tags.length > 0">
  <h6>
    Tags:
    <span *ngFor="let tag of post.tags">
    <a routerLink="/tags/{{ tag.tagId }}/{{ tag.tagName | kebabCase }}">
      {{ tag.tagName }}
    </a>
    |
  </span>
  </h6>
</div>

<hr>
{{ post.info.postContent }}
<hr>

<div class="card mb-3" *ngFor="let comment of post.comments">
  <div class="card-header">
    <p>{{ comment.commentCreatedAt | date:'short'}} by <strong>{{ comment.userName }}</strong></p>
  </div>
  <div class="card-body">
    <p class="card-text">{{ comment.commentBody }}</p>
  </div>
</div>
