<div *ngIf="post">
  <h2>{{ post.info.postTitle }}</h2>

  <img src="{{ imageUrl }}{{ post.info.postImage }}" class="img-fluid" alt="post image">

  <h4>Genre: <a routerLink="/genres/{{ postUrl.genreSlug }}">{{ post.info.genreName | titleCase }}</a></h4>
  <h5>Band: <a routerLink="/{{ postUrl.genreSlug }}/{{ postUrl.bandSlug }}">{{ post.info.bandName }}</a></h5>

  <div *ngIf="post.tags.length > 0">
    <h5>
      Tags:
      <span *ngFor="let tag of post.tags">
      <a routerLink="/tags/{{ tag.tagId }}/{{ tag.tagName | kebabCase }}"
         class="badge badge-info">
        {{ tag.tagName }}
      </a>
    </span>
    </h5>
  </div>

  {{ post.info.postContent }}

  <rnm-comments-list [postId]="post.info.postId"></rnm-comments-list>
</div>