#content {
    text-align: center;
    color: white;
    padding-top: 15%;
}
.image {
    background-image: url('../../../assets/images/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height:65em;
    width:auto;
}
h1, h2, h3 {
    font-family: 'Varela Round', sans-serif;
}
h1 {
    color: red;
}
a {
    margin: 20px;
}
@media (min-width: 400px) {
    h1 {
        font-size: 10em;
    }
    h3 {
        font-size: 2em;
    }
}
@media (min-width: 768px) {
    h1 {
        font-size: 13em;
    }
    h3 {
        font-size: 3em;
    }
    #content {
        padding-top: 10%;
    }
}