<div class="container-fluid image height-full">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                <h3>The page you are looking for can't be found.</h3>
                <h1>404</h1>
                <h3>Get lost?</h3>
                <h2>Return to home page or try search.</h2>
                <a role="button" class="btn btn-lg btn-outline-danger" routerLink="/blog/home">Home</a>
                <a role="button" class="btn btn-lg btn-outline-danger" routerLink="/blog/news/search">Search</a>
            </div>
        </div>
    </div>
</div>