<rnm-band-new></rnm-band-new>

<rnm-band-edit *ngIf="showBandEditForm"></rnm-band-edit>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Id</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let band of bands['data']; let i = index">
            <th scope="row">
                {{ beginNumerationFrom + i }}
            </th>
            <td>
                {{ band.bandName }}
            </td>
            <td>
                {{ band.genreName }}
            </td>
            <td>
                {{ band.bandId }}
            </td>
            <td>
                <i class="far fa-edit fa-lg cursor-pointer"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Edit"
                   (click)="onEdit(band.bandName, band.bandId, band.genreId)"></i>

                <i class="far fa-trash-alt fa-lg cursor-pointer"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Delete"
                   (click)="onDelete(band.bandId)"></i>
            </td>
        </tr>
    </tbody>
</table>

<rnm-pagination *ngIf="bands['total'] > 10"
                [currentPage]="bands['current_page']"
                [path]="bands['path']"
                [lastPage]="bands['last_page']"
                [itemsPerPage]="bands['per_page']"
                [totalItems]="bands['total']"
                [nextPageUrl]="bands['next_page_url']"
                [prevPageUrl]="bands['prev_page_url']">
</rnm-pagination>