<div id="myLoginForm" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login</h4>

                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="loginForm"
                      (ngSubmit)="login()"
                      novalidate>

                    <div class="alert alert-danger" *ngIf="dataInvalid">
                        <p *ngFor="let error of formErrors">{{ error }}</p>
                    </div>

                    <!--FormControlName - Email-->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email"
                               class="form-control"
                               [ngClass]="{'is-invalid':loginForm.get('email').invalid &&
                                                    loginForm.get('email').touched}"
                               id="email"
                               name="email"
                               formControlName="email"
                               placeholder="Your email here."
                               required>

                        <span *ngIf="loginForm.get('email').errors?.required &&
                                 loginForm.get('email').touched"
                              class="invalid-feedback">
                        Email is required.
                        </span>
                    </div>
                    <!--End of FormControlName - Email-->

                    <!--FormControlName - Password-->
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password"
                               class="form-control"
                               [ngClass]="{'is-invalid':loginForm.get('password').invalid &&
                                                    loginForm.get('password').touched}"
                               id="password"
                               name="password"
                               formControlName="password"
                               placeholder="Type your password.">

                        <span *ngIf="loginForm.get('password').errors?.required &&
                                 loginForm.get('password').touched"
                              class="invalid-feedback">
                        Password is required.
                    </span>
                    </div>
                    <!--End of FormControlName - Password-->

                    <div class="form-group">
                        <button type="submit"
                                class="btn btn-primary btn-block btn-lg"
                                data-toggle="modal"
                                data-target="#myLoginForm"
                                data-backdrop="static"
                                data-keyboard="false"
                                [disabled]="loginForm.invalid">
                            Login
                        </button>
                    </div>
                </form>

                <div class="form-group">
                    <p class="text-center">Don't have an account? </p>
                    <p class="text-center">Please register
                        <i class="fas fa-user-plus"></i>
                    </p>
                </div>
            </div>

            <!--<div class="modal-footer">-->
                <!--<a href="#">Forgot Password?</a>-->
            <!--</div> (click)="hideLoginForm()"-->
        </div>
    </div>
</div>