<h1>Latest news from your favorite genres</h1>

<div class="container-fluid"
     *ngFor="let genre of latestPostsForHomepage">
  <div class="row no-gutters">
    <div class="col-md-12">
      <h2 class="mt-2">
        <a routerLink="/blog/news/genres/{{ genre.slug }}">
        {{ genre.name | titleCase }}</a>
      </h2>

      <div class="row">
        <div class="col-sm-12 col-md-6" *ngFor="let post of genre.posts">
          <div class="row">
            <div class="img-flash m-2">
              <figure>
                <a routerLink="/blog/news/{{ genre.slug }}/{{ post.bandName | kebabCase }}/{{ post.postId }}/{{ post.postTitle | kebabCase }}">
                  <img src="{{ imagePath }}{{ post.postImage }}"
                       class="rounded img-responsive img-fluid"
                       alt="{{ post.postTitle }}">
                </a>
              </figure>
              <p class="text-center">{{ post.postTitle }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>