<h2>Latest news from your favorite genres:</h2>

<div class="card mt-3" *ngFor="let genre of latest5PostsPerGenre">
  <div class="card-header">
    <a routerLink="/blog/news/genres/{{ genre.name | kebabCase }}">
      {{ genre.name | titleCase }}
    </a>
  </div>
    <!--<rnm-posts-list [postsToDisplay]="genre.posts"></rnm-posts-list>-->
  <ul *ngFor="let post of genre.posts">
    <li>
      <a routerLink="/blog/news/{{ genre.name | kebabCase }}/{{ post.band.slug }}/{{ post.id }}/{{ post.title | kebabCase }}">
        {{ post.title }}
      </a>
    </li>
  </ul>
</div>