<div *ngIf="post">
  <h2 class="text-center">{{ post.info.postTitle }}</h2>

  <img src="{{ imageUrl }}{{ post.info.postImage }}" class="img-fluid img-thumbnail" alt="post image">

  <h4 class="text-center mt-2">
    <span>
      <a routerLink="/blog/news/genres/{{ postUrl.genreSlug }}"
         class="badge badge-dark">
        {{ post.info.genreName | titleCase }}
      </a>
    </span>
    <span>
      <a routerLink="/blog/news/{{ postUrl.genreSlug }}/{{ postUrl.bandSlug }}"
         class="badge badge-warning">
        {{ post.info.bandName }}
      </a>
    </span>
  </h4>

  <div *ngIf="post.tags.length > 0">
    <h5 class="text-center">
      <span *ngFor="let tag of post.tags">
      <a routerLink="/blog/news/tags/{{ tag.tagId }}/{{ tag.tagName | kebabCase }}"
         class="badge badge-info">
        {{ tag.tagName }}
      </a>
    </span>
    </h5>
  </div>

  {{ post.info.postContent }}

  <rnm-comments-list [postId]="post.info.postId"></rnm-comments-list>
</div>