<a routerLink="/posts"><h1>Rock 'N' Metal Blog</h1></a>

<span *ngIf="authService.isLoggedIn">
  You are logged in as <strong>{{ userName }}</strong>.
</span>

<a routerLink="/login"
   class="btn btn-outline-dark"
   role="button"
   *ngIf="!authService.isLoggedIn">
  Login
</a>

<a routerLink="/register"
   class="btn btn-outline-dark"
   role="button"
   *ngIf="!authService.isLoggedIn">
  Register
</a>

<a class="btn btn-outline-danger"
   role="button"
   (click)="logout()"
   *ngIf="authService.isLoggedIn">
  Logout
</a>

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<hr>

<div class="container">

  <h1>Genres Menu</h1>

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Genres
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <!--<a class="dropdown-item" href="#">Punk Rock</a>-->
      <!--<a class="dropdown-item" href="#">Alternative rock</a>-->
      <!--<a class="dropdown-item" href="#">Hard rock</a>-->
      <!--<a class="dropdown-item" href="#">Heavy metal</a>-->
      <!--<a class="dropdown-item" href="#">Symphonic metal</a>-->
      <!--<a class="dropdown-item" href="#">Industrial metal</a>-->
      <a class="dropdown-item" *ngFor="let genre of genres">{{ genre }}</a> <!--[value]="genre"-->
    </div>
  </div>
</div>

<hr>

<div class="container"><!--Bands Menu-->

  <h1>Bands</h1>

  <div class="dropdown show d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Punk Rock
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Green Day</a>
      <a class="dropdown-item" href="#">AFI</a>
      <a class="dropdown-item" href="#">The Offspring</a>
      <a class="dropdown-item" href="#">Sex Pistols</a>
      <a class="dropdown-item" href="#">Melvins</a>
    </div>
  </div>

  <div class="dropdown show d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Alternative rock
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Radiohead</a>
      <a class="dropdown-item" href="#">Nirvana</a>
      <a class="dropdown-item" href="#">Foo Fighters</a>
      <a class="dropdown-item" href="#">Red Hot Chilly Peppers</a>
      <a class="dropdown-item" href="#">Pearl Jam</a>
    </div>
  </div>

  <div class="dropdown show d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Hard rock
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Led Zeppelin</a>
      <a class="dropdown-item" href="#">Black Sabbath</a>
      <a class="dropdown-item" href="#">Deep Purple</a>
      <a class="dropdown-item" href="#">Aerosmith</a>
      <a class="dropdown-item" href="#">Scorpions</a>
    </div>
  </div>

  <div class="dropdown show d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Heavy metal
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Metallica</a>
      <a class="dropdown-item" href="#">Iron Maiden</a>
      <a class="dropdown-item" href="#">Megadeth</a>
      <a class="dropdown-item" href="#">Judas Priest</a>
      <a class="dropdown-item" href="#">Slayer</a>
    </div>
  </div>

  <div class="dropdown show d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Symphonic metal
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Nightwish</a>
      <a class="dropdown-item" href="#">Within Temptation</a>
      <a class="dropdown-item" href="#">Epica</a>
      <a class="dropdown-item" href="#">Delain</a>
      <a class="dropdown-item" href="#">Twilight Ophera</a>
    </div>
  </div>

  <div class="dropdown show d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Industrial metal
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Rammstein</a>
      <a class="dropdown-item" href="#">OOMPH!</a>
      <a class="dropdown-item" href="#">Nine Inch Nails</a>
      <a class="dropdown-item" href="#">KMFDM</a>
      <a class="dropdown-item" href="#">Static‐X</a>
    </div>
  </div>
</div><!--End of Bands Menu-->