<h2 class="text-center mt-3 mb-4">Quick search by title</h2>

<div class="col-md-7 offset-md-3">
    <form [formGroup]="quickSearchForm"
          (keyup)="getResults()"
          novalidate>

        <div class="form-group row">
            <input type="text"
                   name="searchTerm"
                   id="searchTerm"
                   class="form-control"
                   formControlName="searchTerm"
                   placeholder="min 2 characters...">
        </div>
    </form>

    <div *ngIf="results.length !== 0">

        <p class="text-center">Search results: <strong>{{ results['total'] }}</strong></p>

        <div *ngFor="let result of results.data"
             class="mt-3">

            <p>
                <a routerLink="/blog/news/{{ result.genreName | kebabCase }}/{{ result.bandName | kebabCase }}/{{ result.postId }}/{{ result.postTitle | kebabCase }}">
                    <i class="fas fa-external-link-alt"></i>
                </a>
                {{ result.postTitle }}
            </p>

            <h5>
                <a routerLink="/blog/news/genres/{{ result.genreName | kebabCase }}"
                   class="badge badge-pill badge-success">
                    {{ result.genreName | titleCase }}
                </a>
                <a routerLink="/blog/news/{{ result.genreName | kebabCase }}/{{ result.bandName | kebabCase }}"
                   class="badge badge-pill badge-info">
                    {{ result.bandName }}
                </a>
            </h5>

            <hr *ngIf="results.data && results.data.length > 2">
        </div>
    </div>

    <h4 *ngIf="(results.data && results.data.length === 0) || !results.data"
        class="my-5">
        Sorry, no results for your request ...
    </h4>

    <rnm-pagination *ngIf="results['total'] > 10"
                    [currentPage]="results['current_page']"
                    [path]="results['path']"
                    [lastPage]="results['last_page']"
                    [itemsPerPage]="results['per_page']"
                    [totalItems]="results['total']"
                    [nextPageUrl]="results['next_page_url']"
                    [prevPageUrl]="results['prev_page_url']">
    </rnm-pagination>
</div>