<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Id</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let genre of genres; let i = index">
      <th scope="row">
        {{ i+1 }}
      </th>
      <td>
        {{ genre.name }}
      </td>
      <td>
        {{ genre.id }}
      </td>
      <td>
        <i class="far fa-edit fa-lg cursor-pointer"
           data-toggle="tooltip"
           data-placement="top"
           title="Edit"
           (click)="onEdit(genre.name, genre.id)"></i>

        <i class="far fa-trash-alt fa-lg cursor-pointer"
           data-toggle="tooltip"
           data-placement="top"
           title="Delete"
           (click)="onDelete(genre.id)"></i>
      </td>
    </tr>
  </tbody>
</table>

<rnm-genre-edit *ngIf="showGenreEditForm"></rnm-genre-edit>