<rnm-tag-new></rnm-tag-new>

<rnm-tag-edit *ngIf="showTagEditForm"></rnm-tag-edit>

<table class="table table-striped table-min-height">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Id</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tag of tags['data']; let i = index">
        <th scope="row">
            {{ beginNumerationFrom + i }}
        </th>
        <td>
            {{ tag.name }}
        </td>
        <td>
            {{ tag.id }}
        </td>
        <td>
            <i class="far fa-edit fa-lg cursor-pointer"
               data-toggle="tooltip"
               data-placement="top"
               title="Edit"
               (click)="onEdit(tag.name, tag.id)"></i>

            <i class="far fa-trash-alt fa-lg cursor-pointer"
               data-toggle="tooltip"
               data-placement="top"
               title="Delete"
               (click)="onDelete(tag.id)"></i>
        </td>
    </tr>
    </tbody>
</table>

<rnm-pagination *ngIf="tags['total'] > 10"
                [currentPage]="tags['current_page']"
                [path]="tags['path']"
                [lastPage]="tags['last_page']"
                [itemsPerPage]="tags['per_page']"
                [totalItems]="tags['total']"
                [nextPageUrl]="tags['next_page_url']"
                [prevPageUrl]="tags['prev_page_url']">
</rnm-pagination>